{{- $u := urls.Parse .Destination -}}
{{- $site := urls.Parse site.BaseURL -}}
{{- $path := .PageInner.Path -}}{{- with .PageInner.File }}{{ $path = .Path }}{{ end -}}
{{- with partial "lib/url-ok.html" .Destination }}{{ if not .ok }}{{ errorf "prestige: link %q uses the %q scheme, which is not allowed (allowed: %s; set params.links.schemes to change) in %s" $.Destination .scheme .allowed $path }}{{ end }}{{ end -}}
{{- $external := and $u.Host (ne $u.Host $site.Host) (in (slice "" "http" "https") $u.Scheme) -}}
{{- $dest := .Destination -}}
{{- if and (not $u.IsAbs) (not $u.Host) (not (strings.HasPrefix $dest "#")) -}}
  {{- $target := strings.TrimSuffix (printf "#%s" $u.Fragment) $dest -}}
  {{- $page := cond (ne $target "") (.PageInner.GetPage $target) false -}}
  {{- if $page }}{{ $dest = printf "%s%s" $page.RelPermalink (cond (ne $u.Fragment "") (printf "#%s" $u.Fragment) "") }}
  {{- else if and $target (not (strings.HasPrefix $target ".")) (not (path.Ext $target)) }}{{ warnf "prestige: link %q in %s does not match any page; check the path (links to static files, aliases and ./ or ../ paths are not checked)" .Destination $path }}{{ end -}}
{{- end -}}
<a href="{{ $dest | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if $external }} rel="noopener"{{ end }}>{{ .Text }}{{ if $external }}<span class="arrow arrow--ne" aria-hidden="true"></span><span class="sr-only"> {{ i18n "external" }}</span>{{ end }}</a>
{{- /**/ -}}
