{{- $u := urls.Parse .Destination -}}
{{- $site := urls.Parse site.BaseURL -}}
{{- $external := and $u.IsAbs (ne $u.Host $site.Host) (in (slice "http" "https") $u.Scheme) -}}
{{- $dest := .Destination -}}
{{- if and (not $u.IsAbs) (not (strings.HasPrefix $dest "#")) (not (strings.HasPrefix $dest "mailto:")) -}}
  {{- with .PageInner.GetPage (strings.TrimSuffix (printf "#%s" $u.Fragment) $dest) }}{{ $dest = printf "%s%s" .RelPermalink (cond (ne $u.Fragment "") (printf "#%s" $u.Fragment) "") }}{{ end -}}
{{- end -}}
<a href="{{ $dest | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if $external }} rel="noopener"{{ end }}>{{ .Text }}{{ if $external }}<span class="arrow arrow--ne" aria-hidden="true"></span><span class="sr-only"> {{ i18n "external" }}</span>{{ end }}</a>
{{- /**/ -}}
